/* Global variables for styling */

:root {
    --primary: rgb(226, 226, 226);
    --hover: rgba(0, 0, 0, 0.8);
    --main: #c9611c;
    --secondary: #c38a64;
    --header: #c3c3c3;
}


/* global stlyes */

* {
    box-sizing: border-box;
}


/* Styles for body */

body {
    background-color: var(--primary);
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    color: var(--main);
    line-height: 1.5;
    font-size: 16px;
}


/* Htag styles */

h1,
h2,
h3 {
    font-weight: 700;
    margin: 0;
    color: var(--main);
    line-height: 1.25;
}


/* main styles */

main {
    margin: 20px auto;
    width: 94%;
}

p {
    font-size: 16px;
    margin: 5px 5px;
}


/* button styles */

.btn {
    font-size: 20px;
    text-decoration: none;
    padding: 6px 5px;
    width: 100%;
    display: block;
    margin: 5px 0;
    color: var(--primary);
    border: none;
    outline: none;
    background-color: var(--main);
}

.btn:hover {
    color: var(--primary);
    background-color: var(--hover);
}

.btn-inline {
    display: inline;
}


/* Hero sytles */

.hero {
    padding: 3% 4%;
    background-color: var(--header);
    color: var(--primary);
}

.hero p {
    max-width: 75%;
}

.app-title {
    font-size: 65px;
    color: var(--main);
    padding: 0 10px;
    display: inline-block;
    box-shadow: 6px 5px 5px var(--main);
}


/* List styles */

.list-group {
    padding: 0;
    list-style: none;
}

.list-item {
    margin-bottom: 10px;
    padding: 1.5%;
    background-color: var(--secondary);
    color: var(--primary);
    text-decoration: none;
}

.list-item:hover {
    background-color: var(--main);
}


/* CARDS */

.card {
    margin: 0 0 20px 0;
    border: 3px solid var(--main);
}

.card-header {
    color: var(--primary);
    background-color: var(--main);
    padding: 2.5%;
    border-radius: calc(.18rem - 1px) calc(3px - 1px) 0 0;
}

.card-header i {
    float: right;
}

.card-body {
    padding: 2.5%;
}

.hidden {
    visibility: hidden;
}

.day {
    background-color: cornflowerblue;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
}


/* FORMS */

.form-label,
.form-input,
.form-textarea {
    display: block;
}

.form-label {
    font-size: 16px;
    margin: 0 0 0 5px;
}

.form-input {
    width: 100%;
    padding: 3%;
    margin: 5px 0;
    font-size: 18px;
    border: 2px solid var(--secondary);
}


/* FLEX instructions */

.flex-row {
    display: flex;
    flex-wrap: wrap;
}

.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-space-around {
    justify-content: space-around;
}

.justify-flex-start {
    justify-content: flex-start
}

.justify-flex-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.align-stretch {
    align-items: stretch;
}

.align-end {
    align-items: flex-end;
}

.align-center {
    align-items: center;
}

.col-auto {
    flex-grow: 1;
}

.col-1 {
    flex: 0 0 calc(100% * 1 / 12 - 2%);
}

.col-2 {
    flex: 0 0 calc(100% * 2 / 12 - 2%);
}

.col-3 {
    flex: 0 0 calc(100% * 3 / 12 - 2%);
}

.col-4 {
    flex: 0 0 calc(100% * 4 / 12 - 2%);
}

.col-5 {
    flex: 0 0 calc(100% * 5 / 12 - 2%);
}

.col-6 {
    flex: 0 0 calc(100% * 6 / 12 - 2%);
}

.col-7 {
    flex: 0 0 calc(100% * 7 / 12 - 2%);
}

.col-8 {
    flex: 0 0 calc(100% * 8 / 12 - 2%);
}

.col-9 {
    flex: 0 0 calc(100% * 9 / 12 - 2%);
}

.col-10 {
    flex: 0 0 calc(100% * 10 / 12 - 2%);
}

.col-11 {
    flex: 0 0 calc(100% * 11 / 12 - 2%);
}

.col-12 {
    flex: 0 0 100%;
}


/* Media Query sm */

@media screen and (min-width: 640px) {
    .col-sm-1 {
        flex: 0 0 calc(100% * 1 / 12 - 2%);
    }
    .col-sm-2 {
        flex: 0 0 calc(100% * 2 / 12 - 2%);
    }
    .col-sm-3 {
        flex: 0 0 calc(100% * 3 / 12 - 2%);
    }
    .col-sm-4 {
        flex: 0 0 calc(100% * 4 / 12 - 2%);
    }
    .col-sm-5 {
        flex: 0 0 calc(100% * 5 / 12 - 2%);
    }
    .col-sm-6 {
        flex: 0 0 calc(100% * 6 / 12 - 2%);
    }
    .col-sm-7 {
        flex: 0 0 calc(100% * 7 / 12 - 2%);
    }
    .col-sm-8 {
        flex: 0 0 calc(100% * 8 / 12 - 2%);
    }
    .col-sm-9 {
        flex: 0 0 calc(100% * 9 / 12 - 2%);
    }
    .col-sm-10 {
        flex: 0 0 calc(100% * 10 / 12 - 2%);
    }
    .col-sm-11 {
        flex: 0 0 calc(100% * 11 / 12 - 2%);
    }
    .col-sm-12 {
        flex: 0 0 100%;
    }
}


/* Media Query md */

@media screen and (min-width: 768px) {
    .col-md-1 {
        flex: 0 0 calc(100% * 1 / 12 - 2%);
    }
    .col-md-2 {
        flex: 0 0 calc(100% * 2 / 12 - 2%);
    }
    .col-md-3 {
        flex: 0 0 calc(100% * 3 / 12 - 2%);
    }
    .col-md-4 {
        flex: 0 0 calc(100% * 4 / 12 - 2%);
    }
    .col-md-5 {
        flex: 0 0 calc(100% * 5 / 12 - 2%);
    }
    .col-md-6 {
        flex: 0 0 calc(100% * 6 / 12 - 2%);
    }
    .col-md-7 {
        flex: 0 0 calc(100% * 7 / 12 - 2%);
    }
    .col-md-8 {
        flex: 0 0 calc(100% * 8 / 12 - 2%);
    }
    .col-md-9 {
        flex: 0 0 calc(100% * 9 / 12 - 2%);
    }
    .col-md-10 {
        flex: 0 0 calc(100% * 10 / 12 - 2%);
    }
    .col-md-11 {
        flex: 0 0 calc(100% * 11 / 12 - 2%);
    }
    .col-md-12 {
        flex: 0 0 100%;
    }
}


/* Media Query lg */

@media screen and (min-width: 992px) {
    .col-lg-1 {
        flex: 0 0 calc(100% * 1 / 12 - 2%);
    }
    .col-lg-2 {
        flex: 0 0 calc(100% * 2 / 12 - 2%);
    }
    .col-lg-3 {
        flex: 0 0 calc(100% * 3 / 12 - 2%);
    }
    .col-lg-4 {
        flex: 0 0 calc(100% * 4 / 12 - 2%);
    }
    .col-lg-5 {
        flex: 0 0 calc(100% * 5 / 12 - 2%);
    }
    .col-lg-6 {
        flex: 0 0 calc(100% * 6 / 12 - 2%);
    }
    .col-lg-7 {
        flex: 0 0 calc(100% * 7 / 12 - 2%);
    }
    .col-lg-8 {
        flex: 0 0 calc(100% * 8 / 12 - 2%);
    }
    .col-lg-9 {
        flex: 0 0 calc(100% * 9 / 12 - 2%);
    }
    .col-lg-10 {
        flex: 0 0 calc(100% * 10 / 12 - 2%);
    }
    .col-lg-11 {
        flex: 0 0 calc(100% * 11 / 12 - 2%);
    }
    .col-lg-12 {
        flex: 0 0 100%;
    }
}


/* Media Query xl */

@media screen and (min-width: 1200px) {
    .col-xl-1 {
        flex: 0 0 calc(100% * 1 / 12 - 2%);
    }
    .col-xl-2 {
        flex: 0 0 calc(100% * 2 / 12 - 2%);
    }
    .col-xl-3 {
        flex: 0 0 calc(100% * 3 / 12 - 2%);
    }
    .col-xl-4 {
        flex: 0 0 calc(100% * 4 / 12 - 2%);
    }
    .col-xl-5 {
        flex: 0 0 calc(100% * 5 / 12 - 2%);
    }
    .col-xl-6 {
        flex: 0 0 calc(100% * 6 / 12 - 2%);
    }
    .col-xl-7 {
        flex: 0 0 calc(100% * 7 / 12 - 2%);
    }
    .col-xl-8 {
        flex: 0 0 calc(100% * 8 / 12 - 2%);
    }
    .col-xl-9 {
        flex: 0 0 calc(100% * 9 / 12 - 2%);
    }
    .col-xl-10 {
        flex: 0 0 calc(100% * 10 / 12 - 2%);
    }
    .col-xl-11 {
        flex: 0 0 calc(100% * 11 / 12 - 2%);
    }
    .col-xl-12 {
        flex: 0 0 100%;
    }
}